<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bibliografa echipei Tea Team</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'universities/css/styles.css' %}">
        <style>
            body{
            background-image: url('{%static "universities/images/backround2.jpg"  %}');
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100vh;
        }
        </style>
    </head>
    <body>
        <div class="text.bibliografie">
            <h1>Developerii care au lucrat la acest proiect sunt:</h1>
        <p>Dumitrescu Iulian</p>
        <p> Contact: 0745421995 - iulian.dumi2007@gmail.com </p>
        <p>Lixandru Sara</p>
        <p> Nr. telefon - email</p>
        <p>Sofia Tudose</p>
        <p> Nr. telefon - email</p>
        </div>
        <br>
        <a href="{% url 'ecranprincipal' %}">
            <button>Inapoi la meniul anterior</button>
        </a>
    </body>
</html>
