<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Facultas - Chestionar</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'universities/css/styles.css' %}">
        <style>
            body{
                background-image: url('{%static "universities/images/backround2.jpg"  %}');
                background-size: cover; 
                background-position: center;
                background-repeat: no-repeat;
                min-height: 100vh;
            }
        </style>
    </head>
    <body>
        <form method="POST"> 
            {% csrf_token %} 
            {{ form.as_p }} 
            <input type="submit" value="Trimite"> 
        </form> 


        <a href="{% url 'facultatiromania' %}">
            <button>Inapoi la meniul precedent</button>
        </a>
    </body>
</html>