<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <style>
            body{
            background-image: url('{%static "universities/images/backround2.jpg"  %}');
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100vh;
        }
        </style>
    </head>
    <body>
        <p>Under construction</p>
        <a href="{% url 'ecranprincipal' %}">
            <button>Inapoi la meniul precedent</button>
        </a>
        
    </body>
</html>