<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Facultas - pagina principala</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'universities/css/styles.css' %}">
    </head>
    <body>
        <div>
            <img class="logo" src="images/facultas.jpg" alt="Cannot display image :(">
        </div>

        <div>
            <h1 class="titlu-p-p">FACULTAS- ajutorul tau in studentie</h1>

        <a href="{% url 'facultatiromania' %}"> Vreau la facultate in Romania!</a>

        <p>
            Facultas te ajuta sa explorezi facultatile de prestigiu din fiecare oras, si prin intermediul unui chestionar,
            iti sugereaza cea mai buna optiune pentru tine. Incearca si tu Facultas GRATUIT.
        </p>

        <a href="{% url 'cvmeniu' %}">Vreau un CV de succes!</a>

        <p>
            Facultas iti ofera o analiza gratuita a CV-ului tau existent si te poate ajuta sa-l imbunatatesti pentru cererile angajatorului.
        </p>

        <a href="{% url 'bibliografie' %}">Cine suntem noi?</a>

        <p>
            Realizat de echipa Tea Team din cadrul DB Technology Group.
        </p>
        </div>
    </body>
</html>
