<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Facultas - pagina principala</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'universities/css/styles.css' %}">
</head>

<body>
    <div class="container">
        <header>
            <img class="logo" src="{% static 'universities/images/facultas.jpg' %}" alt="Facultas Logo">
            <h1>FACULTAS - Ajutorul tău în studenție</h1>
        </header>

        <div class="grid-container">
            <div class="card">
                <h2>Vrei la o facultate în Romania?</h2>
                <p>Găsește cea mai buna optiune pentru tine.</p>
                <a href="{% url 'facultatiromania' %}">Află mai multe</a>
            </div>

            <div class="card">
                <h2>Vreau un CV de succes!</h2>
                <p>Analizăm CV-ul tău și te ajutăm să-l îmbunătățești pentru angajatori.</p>
                <a href="{% url 'cvmeniu' %}">Îmbunătățește CV-ul</a>
            </div>

            <div class="card">
                <h2>Despre noi!</h2>
                <p>Facultas te ajută să explorezi universități, îți oferă consultanță pentru CV și multe altele.</p>
                <a href="{% url 'bibliografie' %}">Contacteaza-ne!</a>
            </div>
        </div>
    </div>
</body>

</html>