body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.container {
    text-align: center;
    padding: 20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    height: auto;
}

.titlu-ep {
    color:rgb(246, 236, 207);
}

.grid-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.card {
    background: rgb(246, 236, 207);
    padding: 12px 24px;
    border-color: black;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 230px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

.card a {
    margin-top: auto;
    font-size: 17pt;
    text-decoration: none;
    color: rgb(0, 128, 0);
    font-weight: bold;
}
.card a:hover{text-decoration: underline;}

.card:hover {
    transform: scale(1.1);
}